@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #2C227B;
    --main-text-color: #FFFFFF;
    --second-text-color: #FD3939;
    --third-text-color: #000000;
    --second-bg-color: #2C227B;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--third-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: #2C227B;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--second-text-color);
    font-weight: bold;
    border: none;
}

.button-add {
    position: relative;
}

.plus {
    position: absolute;
    transform: translate(50%, 15%);
    font-size: 30px;
    font-weight: bold;
}

.give-token {
    color: #D86BFE;
}

.give-token:hover {
    color: #b04ed3;
}

.give-done {
    color: #FD3939;
}

.give-done:hover {
    color: #c62525;
}

.popup-confirmation {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #e3f2fd;
}

.popup-confirmation.active .show-modal {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

.popup-confirmation.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: lightgray;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(100%, 150%) scale(1.2);
}

.popup-confirmation.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(200%, -300%) scale(1);
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.modal-box .buttons {
    margin-top: 25px;
}

.modal-box button {
    font-size: 14px;
    margin: 0 10px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #2C227B;
    border-radius: 6px;
    cursor: pointer;
}

.modal-box button:hover {
    background-color: #493cab;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -23rem;
    }
}