@import url('https://fonts.googleapis.com/css2?family=Neuton&family=Poppins&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-bg-color: #2C227B;
    --main-text-color: #FFFFFF;
    --second-text-color: #FD3939;
    --third-text-color: #000000;
    --second-bg-color: #2C227B;
}

.primary-text {
    color: var(--main-text-color);
}

.second-text {
    color: var(--third-text-color);
}

.primary-bg {
    background-color: var(--main-bg-color);
}

.secondary-bg {
    background-color: var(--second-bg-color);
}

.rounded-full {
    border-radius: 100%;
}

#wrapper {
    overflow-x: hidden;
    background-color: #2C227B;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#menu-toggle {
    cursor: pointer;
}

.list-group-item {
    border: none;
    padding: 20px 30px;
}

.list-group-item.active {
    background-color: transparent;
    color: var(--second-text-color);
    font-weight: bold;
    border: none;
}


/* Popup Confirmation Box */

.popup-confirmation {
    position: fixed;
    height: 100%;
    width: 100%;
    background: #e3f2fd;
}

.popup-confirmation.active .show-modal {
    display: none;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}

.delete-slot {
    border: none;
    background-color: #FD3939;
    color: white;
    padding: 6px 22px;
    font-size: 15px;
    cursor: pointer;
}

.delete-slot:hover {
    background-color: #b32a2a;
}

.popup-confirmation.active .overlay {
    opacity: 1;
    pointer-events: auto;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: lightgray;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    transform: translate(100%, 150%) scale(1.2);
}

.popup-confirmation.active .modal-box {
    opacity: 1;
    pointer-events: auto;
    transform: translate(200%, -380%) scale(1);
}

.modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: #333;
}

.modal-box h3 {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.modal-box .buttons {
    margin-top: 25px;
}

.modal-box button {
    font-size: 14px;
    margin: 0 10px;
    font-weight: 400;
    color: #fff;
    padding: 14px 22px;
    border: none;
    background: #2C227B;
    border-radius: 6px;
    cursor: pointer;
}

.modal-box button:hover {
    background-color: #493cab;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-top: 50px;
    background-color: rgba(255, 255, 255, 0.1);
}

.cancelbtn,
.deletebtn {
    color: white;
    padding: 14px 20px;
    margin: 8px 35px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-top: 80px;
    width: 20%;
}

.cancelbtn {
    background-color: rgb(0, 0, 0);
    color: white;
}

.cancelbtn:hover {
    background-color: rgb(0, 0, 0, 0.75);
}

.deletebtn {
    background-color: #f44336;
}

.deletebtn:hover {
    background-color: #d1382d;
}

.container {
    padding: 16px;
    text-align: center;
    background-color: lightgray;
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto 15% auto;
    width: 50%;
    border: none;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}

.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.p-delete {
    margin-top: 50px;
}

#success {
    display: none;
    position: fixed;
    top: 23%;
    left: 25%;
    width: 50%;
    height: 50%;
}

#error {
    display: none;
    position: fixed;
    top: 20%;
    left: 25%;
    width: 50%;
    height: 50%;
}

.popup-content {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 4px 4px 70px 10px rgb(0 0 0/50%);
    border-radius: 25px;
}

.imgbox {
    text-align: center;
}

.img {
    width: 112px;
    margin-top: 40px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: 20px auto;
}

.para {
    font-weight: 500;
    width: 80%;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
}

.button {
    width: 50%;
    display: block;
    margin: 120px auto;
    border-radius: 25px;
    padding: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
    letter-spacing: 0.05em;
}

#s_button {
    background: #32ba7c;
}

#s_button:hover {
    background: #269764;
    color: white;
}

#e_button {
    background: #ff3636;
}

#e_button:hover {
    background: #d11818;
    color: white;
}

.link-view {
    color: #b04ed3;
}

.button-view {
    position: relative;
}

.eye {
    position: absolute;
    transform: translate(60%, 20%);
    font-size: 30px;
    font-weight: bold;
 
}

.button-view-recent {
    background-color: #D86BFE;
    border: none;
    outline: none;
    color: #FFFFFF;
    font-size: 20px;
}

.button-view-recent:hover {
    color: #FFFFFF;
    background-color: #b04ed3;
}

.addlink {
    color: #FFFFFF;
    text-decoration: none;
   
}

.view {
    width: 80%;
    margin-left: 79%;
}

.picture {
    padding: 5px;
    width: 80px;
}

.dashboard-unavailable {
    color: var(--second-text-color);
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.no-data-dashboard {
    background-color: white;
    padding: 5%;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    #wrapper.toggled #sidebar-wrapper {
        margin-left: -23rem;
    }
}